.container{
    margin-bottom:100px ;
    
}
.header-body{
    width: 100%;
    background-color:#f0fff0 ;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 2rem;
}


.bg-nav-header{
    background-color: #f0fff0;
}

.sign-in-button{
    background-color:#21B573;
    border: none;
    border-radius: 25px;
    color: white;
    width: 100px;
    height: 40px;
    padding: 5px 10px ;
    
}

.header-text-align{
    margin:80px 0px 0px 20px;
}
.header-img-align{
    margin:80px 80px 0px 0px;
    
    
}


.box{
    width: 200px;
    height: 200px;
    background-color:#F8FFFB ;
    text-align: center;
    padding: 20px;
    
}


.box a{
    text-decoration: none;
    color:black;
}

.box:hover{
  
    background-color: white;
    box-shadow: 5px 5px 5px lightgray;
}
.buy-courses-button{
    background-color:#21B573;
    border: none;
    border-radius: 25px;
    color: white;
    width: 150px;
    height: 35px;
    padding: 5px 5px;
    top:25px;
}

.card{
    background-color: #ffffff;
    box-shadow: 0px 10px 40px rgba(0,0,0,0.1);
    border-radius: 18px;
    border: 12px solid #ffffff;
}

.card-footer{
    background-color: white;
    border-top: none;
}
.footer-bg{
    background-color: rgb(78, 76, 76);
    color: white;
    width: 100%;
    
}

.footer-text{
    padding-top: 50px;
    padding-left: 70px;
    line-height: 30px;
    
}

.footer-text1{
    padding-top: 50px;
    line-height: 30px;
    
}

    