.container{
    margin-bottom:100px;
    
    
}
.header-body{
    width: 100%;
    background-color:#f0fff0 ;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 2rem;
}

.header-img{
    padding-bottom: 30px;
}
.bg-nav-header{
    background-color: #f0fff0;
}

.sign-in-button{
    background-color:#21B573;
    border: none;
    border-radius: 25px;
    color: white;
    width: 100px;
    height: 40px;
    padding: 5px 10px ;
    
}

.box{
    width: 200px;
    height: 200px;
    background-color:#F8FFFB ;
    text-align: center;
    padding: 20px;
    
}


.box a{
    text-decoration: none;
    color:black;
}

.box:hover{
  
    background-color: white;
    box-shadow: 5px 5px 5px lightgray;
}

.box-text{
    padding-top: 20px;
}
.buy-courses-button{
    background-color:#21B573;
    border: none;
    border-radius: 25px;
    color: white;
    width: 140px;
    height: 35px;
    padding: 5px 5px;
    top:25px;
}

.card{
    background-color: #ffffff;
    box-shadow: 0px 10px 40px rgba(0,0,0,0.1);
    border-radius: 18px;
    border: 12px solid #ffffff;
}

.card-footer{
    background-color: white;
    border-top: none;
}
.teachers-heading{
    color: #21B573;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 50px;
}
.teachers-info{
    padding-top: 20px;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 30px;
    border: none;
    color: rgb(61, 58, 25)
}

.teachers-info:hover{
    background-color: rgb(231, 238, 252)    ;
    color: #21B573;
    border: 1px solid white;
    border-radius: 30px;
    
    
}
.campus-text{
    text-align: center;
    padding-left: 20px;
}
.campus-bg{
    background-color: rgb(220, 238, 224);
    background-image: url(images/campus/bg.jpg);
}
.carousel-indicators li{
    background-color: #21B573;
    
}

.footer-bg{
    background-color: rgb(43, 39, 39);
    color: white;
    width: 100%;
        
}

.footer-text{
    padding-top: 50px;
    padding-left: 60px;
    font-size: 18px;
    line-height: 35px;
    color:lightgray
    
}


.footer-text1{
    padding-top: 50px;
    padding-left: 30px;
    font-size: 18px;
    line-height: 35px;
    color:lightgray
    
}
    